@model Jade_Dragon.Models.NguoiDung

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/login-logout.cshtml";
}

<div id="wrapper">
    @using (Html.BeginForm("XacNhan", "User", FormMethod.Post, new { @id = "form-login" }))
    {
        @Html.AntiForgeryToken()
        <i class="form-heading">Mã xác nhận đã được gửi tới Gmail của bạn</i>
        <div class="form-group">
            <i class="far fa-user"></i>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-input", placeholder = "Nhập Mã Xác Nhận" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <i class="fas fa-key"></i>
            @Html.PasswordFor(model => model.Mk, new { @class = "form-input", placeholder = "Mật khẩu cũ" })
            <div id="eye">
                <i class="far fa-eye"></i>
            </div>
            @Html.ValidationMessageFor(model => model.Mk, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <i class="fas fa-key"></i>
            <input type="password" name="NhapLai" value="" required placeholder="Nhập lại mật khẩu" class="form-input" />
            <div id="eye">
                <i class="far fa-eye"></i>
            </div>
            @Html.ValidationMessageFor(model => model.Mk, "", new { @class = "text-danger" })
        </div>
        <input type="hidden" value="@Session["MaKh"]" name="MaKH" id="MaKH" />
        <a href="~/trangchu/trangchu" style="text-decoration:none;"><h3>Quay lại trang chủ</h3></a>
        <input type="submit" value="Đặt lại mật khẩu" class="form-submit">
    }
</div>
