@model Jade_Dragon.Models.NguoiDung
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Areas/Admin/Views/Shared/login-logout.cshtml";
}

<div id="wrapper">
    @using (Html.BeginForm("NewPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-login" }))
    {
        @Html.AntiForgeryToken()
        <h1 class="form-heading">Đổi mật khẩu</h1>
        <div class="form-group">
            <i class="far fa-user"></i>
            <input type="text" class="form-input" placeholder="Nhập mã xác nhận" name="ma" required>
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <i class="fas fa-key"></i>
            <input type="password" class="form-input" placeholder="Nhập mật khẩu mới" name="NewPass" required>
            @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <i class="fas fa-key"></i>
            <input type="password" class="form-input" placeholder="Nhập lại mật khẩu" name="newPass2" required>
            <div id="eye">
                <i class="far fa-eye"></i>
            </div>
            @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
        </div>
        <a href="~/trangchu/trangchu" style="text-decoration:none;"><h3>Quay lại trang chủ</h3></a>
        <a href="@Url.Action("QuenPassword", "Account", new {area = "Admin"})" style="text-decoration: none; font-size: 15px;">
            Trở lại
        </a>
        <input type="submit" value="Gửi" class="form-submit">
    }
</div>

