@model Jade_Dragon.Models.NguoiDung
@{
    ViewBag.Title = "QuenPassword";
    Layout = "~/Areas/Admin/Views/Shared/login-logout.cshtml";
}

<div id="wrapper">
    @using (Html.BeginForm("QuenPasswordd", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "form-login" }))
    {
        @Html.AntiForgeryToken()
        <h1 class="form-heading">Quên mật khẩu</h1>
        <div class="form-group">
            <i class="far fa-user"></i>
            <input type="text" class="form-input" placeholder="Nhập Họ và Tên" name="hoten" required>
            @Html.ValidationMessageFor(m => m.HoTen, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <i class="far fa-user"></i>
            <input type="text" class="form-input" placeholder="Nhập tên đăng nhập" name="tendn" required>
            @Html.ValidationMessageFor(m => m.TenDangNhap, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <i class="far fa-user"></i>
            <input type="email" class="form-input" placeholder="Nhập gmail" name="gmail" required>
            @Html.ValidationMessageFor(m => m.Gmail, "", new { @class = "text-danger" })
        </div>
        <a href="~/trangchu/trangchu" style="text-decoration:none;"><h3>Quay lại trang chủ</h3></a>
        <i style="font-size: 15px;">
            Trở lại
            <a href="@Url.Action("Login", "Account", new {area = "Admin"})" style="text-decoration: none;">Đăng nhập</a>
        </i> <br />
        <input type="submit" value="Gửi" class="form-submit">
    }
</div>

